<div class = "valign-wrapper">
<div class = "container center-align">
  <%= link_to download_path(id: @repo.id), class: "btn" do %>
    "Download <%= @repo.name %>"
  <% end %>
</div>
</div>
<%= form_for :password, :url => shared_path(@repo), html:{ method: 'get'} do |f| %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.submit "Download File", class: "btn" %>
<% end %>
