<%= form_for @user do |f| %>
    <div class="input-field">
      <%= f.text_field :first_name, placeholder:"First name", type:"text", class:"validate"%>
    </div>
    <div class="input-field">
      <%= f.text_field :last_name, placeholder:"Last name", type:"text", class:"validate"%>
    </div>
    <div class="input-field">
      <%= f.email_field :email, placeholder:"Email", type:"text", class:"validate"%>
    </div>
    <div class="input-field">
      <%= f.telephone_field :phone_number, placeholder:"Phone Number", type:"text", class:"validate"%>
    </div>
    <div class="input-field">
      <%= f.password_field :password, placeholder:"Password", type:"text", class:"validate"%>
    </div>

    <div class="input-field">
      <p><%= f.check_box :checkbox, type:"checkbox", include_hidden: false, class:"filled-in", id:"filled-in-box" %> I agree to Dropbox terms.</p>
    </div>
    <div class="input-field">
      <%= f.submit "Create account" %>
    </div>
<% end %>