<%= form_for @user do |f| %>
  <form class="col s6">
    <div class="input-field col s3">
      <%= f.text_field :first_name, placeholder:"First name", type:"text", class:"validate login-email right"%>
    </div>
    <div class="input-field col s3">
      <%= f.text_field :last_name, placeholder:"Last name", type:"text", class:"validate login-email right"%>
    </div>
    <div class="input-field col s3">
      <%= f.email_field :email, placeholder:"Email", type:"text", class:"validate login-email right"%>
    </div>
    <div class="input-field col s3">
      <%= f.password_field :password, placeholder:"Password", type:"text", class:"validate login-email right"%>
    </div>
    <div class="input-field col s3">
    <%= f.check_box :agrees,  type:"text", class:"validate login-email right"%>
      <%= f.label "I agree to Dropbox terms." %>
    </div>

    <%= f.submit "Create an account" %>
  </form>
  
  </form>
<% end %>