

<%= form_for @user do |f| %>
    <div class="input-field col s3">
      <%= f.text_field :first_name, placeholder:"First name", type:"text", class:"validate"%>
    </div>
    <div class="input-field col s3">
      <%= f.text_field :last_name, placeholder:"Last name", type:"text", class:"validate"%>
    </div>
    <div class="input-field col s3">
      <%= f.email_field :email, placeholder:"Email", type:"text", class:"validate"%>
    </div>
    <div class="input-field col s3">
      <%= f.password_field :password, placeholder:"Password", type:"text", class:"validate"%>
    </div>


    <div class="input-field col s3">
      <p><%= f.check_box :checkbox, type:"checkbox", include_hidden: false, class:"filled-in", id:"filled-in-box" %> I agree to Dropbox terms.</p>
    </div>

    
    
    <%= f.submit "Create an account" %>
<% end %>