<div class= "dropzone">

  <div class = "container row">
    <div class = "col s2">
      <h2><a href="<%= root_path %>" class="brand-logo center">BoxDrop</a></h2>
      <ul>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Paper</a></li>
        <li><a href="#">Photos</a></li>
      </ul>
    </div>
    <div class = "repo-context-menu col s12">
        <a id = "context-menu-download" href = "">
          <i class="material-icons">file_download</i>
        </a>
        <a id = "context-menu-delete" href = "">
          <i class="material-icons">delete</i>
        </a>
    </div>
    <table class = "repo-list" >
      <tr>
        <th>Name</th>
        <th>Modified</th>
      </tr>
      <% @repos.each do |repo| %>
        <% if repo.type == "Folder" %>
          <tr>
            <td><%= link_to repo.aws_url, repo_path(repo) %></td>
            <td><%= repo.updated_at %></td>
            <td>
              <%= link_to download_path(id: repo.id) do %>
                <i class="material-icons">file_download</i>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td><%= repo.aws_url %></td>
            <td><%= repo.updated_at %></td>
            <td>
              <%= link_to download_path(id: repo.id) do %>
                <i class="material-icons">file_download</i>
              <% end %>
              <p id = "rid" hidden><%= repo.id %></p>
              <p id = "rurl" hidden><%= download_path(id: repo.id) %></p>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% end %>
    </div>
  </div>