  <div class = "container row">
    <div class = "col s2">
      <ul>
        <li><a href="#">Recent</a></li>
        <li><a href="#">Files</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Paper</a></li>
        <li><a href="#">Photos</a></li>
      </ul>
    </div>
    <div class = "col s10">
    <% @repos.each do |repo| %>
      <table>
      <% if repo.type == "Folder" %>
        <tr>
          <th><%= link_to repo.aws_url, repo_path(repo) %></th>
          <th><%= repo.updated_at %></th>
          <th><%= link_to "Get Repo", download_path(id: repo.id) %></th>
        </tr>
      <% else %>
        <th><%= repo.aws_url %></th>
        <th><%= repo.updated_at %></th>
        <th><%= link_to "Get Repo", download_path(id: repo.id) %></th>
      <% end %>
    </table>
    <% end %>
    </div>
  </div>
<div class="searchResults" data-query="<%= @s3_direct_post.url %>"></div>
<%= form_for(@repo, :url => repos_path(current_user), :method => 'post', html: { class: 'directUpload', data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f| %>

    <%= f.label :aws_url %>
    <%= f.file_field :aws_url %>

    <%= f.submit %>
  <% end %>
</div>
<div class = "container row">
  <%= render "layouts/top_navbar" %><br><br><br>

  <div class = "col s2">
    <a href="#!" class="brand-logo"> <%= image_tag "dropbox_logo.png" %></a><br><br>
    <ul>
      <li><a href="#">Recent</a></li><br>
      <li><a href="#">Files</a></li><br>
      <li><a href="#">Team</a></li><br>
      <li><a href="#">Paper</a></li><br>
      <li><a href="#">Photos</a></li>
    </ul>
  </div>
  <br><br><br>
  <div class = "col s10">
    <table>
      <tr>
        <th><b>Name</b></th>
        <th><b>Modified</b></th>
        <th><b>Members</b></th>
      </tr>
      <tr>
        <td>Sample name</td>
        <td>Sample modified</td>
        <td>Sample members</td>
      </tr>
    </table>
  </div>
</div>
