<div class = "container row">
  <div class = "repo-navbar right-align col s6 offset-s2">
    <ul class = "inline-list">
      <li>
        <%= link_to "#file-upload", class: "modal-trigger file-upload-trigger waves-effect waves-light" do %>
          <i class="material-icons">file_upload</i>
        <% end %>
      </li>
      <li><i class="material-icons">create_new_folder</i></li>
    </ul>
  </div>
  <div class = "repo-context-menu col s12">
      <a id = "context-menu-download" href = "">
        <i class="material-icons">file_download</i>
      </a>
      <a>
        <i class="material-icons">open_in_browser</i>
      </a>
      <a id = "context-menu-delete" href = "">
        <i class="material-icons">delete</i>
      </a>
  </div>
  <table class = "repo-list" >
    <tr>
      <th>Name</th>
      <th>Modified</th>
    </tr>
    <% @repos.each do |repo| %>
      <% if repo.type == "Folder" %>
        <tr>
          <td><%= link_to repo.name, repo_path(repo) %></td>
          <td><%= repo.updated_at %></td>
          <td>
            <%= link_to download_path(id: repo.id) do %>
              <i class="material-icons">file_download</i>
            <% end %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td><%= repo.name %></td>
          <td><%= repo.updated_at %></td>
          <td>
            <%= link_to download_path(id: repo.id) do %>
              <i class="material-icons">file_download</i>
            <% end %>
            <p id = "rid" hidden><%= repo.id %></p>
            <p id = "rurl" hidden><%= download_path(id: repo.id) %></p>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<%= render partial: "/layouts/file_upload" %>