<div class = "container row">

    <div class = "container row">
      <div class = "col s10">
      <% @repos.each do |repo| %>
        <table>
          <% if repo.type == "Folder" %>
            <tr>
              <th><%= link_to repo.name, repo_path(repo) %></th>
              <th><%= repo.updated_at %></th>
              <th><%= link_to "Get Repo", download_path(id: repo.id) %></th>
            </tr>
          <% else %>
            <tr>
              <th><%= repo.name %></th>
              <th><%= repo.updated_at %></th>
              <th><%= link_to "Get Repo", download_path(id: repo.id) %></th>
            </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>