<div class = "container row">
  <h3>Settings</h3>
    <div class="row">
    <div class="col s12" id="all-tabs">
      <ul class="tabs">
        <li class="tab"><a id="tab-profile-link" class="active" href="#profile">Profile</a></li>
        <li class="tab"><a id="tab-account-link" href="#account">Account</a></li>
        <li class="tab"><a id="tab-security-link" href="#security">Security</a></li>
      </ul>
    </div>
    <div id="profile" class="col s12">
      <div class = "row account-name">
        <p><%= @user_dashboard.fullname %> <%= link_to "Change", "#" %></p>
      </div>
      <div class = "row">
        <div class = "row col s3 account-photo">
          <h6>Account photo</h6>
          <div class = "col s6">
            <img>
          </div>
          <div class = "col s6">
            <p><%= link_to "Add photo", "#" %></p>
          </div>
        </div>
        <div class = "row col s9 account-email">
          <h6>Personal email</h6>
          <p><%= @user_dashboard.email %></p>
          <p><%= link_to "Change email", "#" %></p>
        </div>
      </div>
    </div>
    <div id="account" class="col s12">
      <h5>Space</h5>
      <div class="progress">
        <div class="determinate" style="width: <%= @user_dashboard.used_space_percent%>"></div>
      </div>
    </div>
    <div id="security" class="col s12">
      <h5>Dropbox</h5>
      <div class="row account-password">
        <h6>Password</h6>
        <p><%= link_to "Change password", "#" %></p>
        <p><%= link_to "Forgot password?", "#" %></p>
      </div>
      <div class="row account-verification">
        <h6>Two-step verification</h6>
        <div class="col s2">
          <p>Status</p>
        </div>
        <div class="col s10">
          <p><%= @user_dashboard.two_step_status %> <%= link_to "(click to enable)", "#" %></p>
        </div>
      </div>
    </div>
  </div>
</div>